<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367237863239-smcqv8bue36j3rf39l5s6vmru22hu2l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367237863239-smcqv8bue36j3rf39l5s6vmru22hu2l3</string>
	<key>API_KEY</key>
	<string>AIzaSyACCftnnB3G9m0OXdkiMtP34TzebIdGyJM</string>
	<key>GCM_SENDER_ID</key>
	<string>367237863239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaysaripinar.TalkidoQR</string>
	<key>PROJECT_ID</key>
	<string>tolkidoqr</string>
	<key>STORAGE_BUCKET</key>
	<string>tolkidoqr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367237863239:ios:804e800dc83c9781901e62</string>
</dict>
</plist>